@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05182c;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  /* color: rgb(223, 223, 223); */
  color: white;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

.github {
  z-index: 2;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  cursor: pointer;
  position: fixed;
}
.git:hover {
  fill: #02ef63;
}

.twitter:hover {
  fill: #1890ff;
}

.email:hover {
  fill: #ef4444;
}

.linkdin:hover {
  fill: #fccf0c;
}

::-webkit-scrollbar-track {
  background: #05182c;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.main-button {
  color: white;
  font-size: 1.875rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  padding: 0.3rem 2rem;
  background: none;
  border: 0.2rem solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.contact-btn {
  color: #02ef63;
  background: none;
  border-radius: 0.6rem;
  border: 0.2rem solid #02ef63;
  padding: 1rem 2rem;
  cursor: pointer;

  font-weight: 500;
  font-size: 1.4rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.github-btn {
  /* padding : 30rem; */
  color: #1890ff;
  background: none;
  border-radius: 0.6rem;
  border: 0.2rem solid #1890ff;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
.resume-btn {
  /* padding : 30rem; */
  color: #fccf0c;
  background: none;
  border-radius: 0.6rem;
  border: 0.2rem solid #fccf0c;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.resume-btn:hover {
  background-color: #fccf0c;
  color: white;
}

.contact-btn:hover {
  background-color: #02ef63;
}

.github-btn:hover {
  background-color: #1890ff;
}

.about-heading {
  color: #05182c;
  font-size: 15rem;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #fcd00cad;
  font-weight: 600;
}

.about-main-heading {
  display: flex;
  /* z-index: 2; */
  flex-direction: column;
  align-items: center;
}

.about-section {
  position: relative;
  /* background-color: red; */
}

.name-heading {
  bottom: -2.7rem;
  position: absolute;
  font-size: 10rem;
  color: white;
  /* background-color: #02ef63;  */
  /* width: 82rem; */
}

.nav {
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
}

.box {
  background-color: #1d2f41;
  border: 0.1rem solid rgb(206, 206, 206);
}

.heading-2 {
  font-size: 1.3rem;
  color: #8892b0;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .main {
    padding-right: 5rem;
    padding-top: 15rem;
    width: max-content;
  }
  .head-text {
    font-size: 3rem;
  }
  .about-section {
    display: none;
  }
  .contact-btn {
    font-size: 2rem;
  }
  .github-btn {
    font-size: 2rem;
  }
  .resume-btn {
    font-size: 2rem;
  }
  .whyme {
    right: 0;
    padding-left: 17rem;
    width: max-content;
  }
  .boxes {
    padding-left: 17rem;
  }
  .work-btn {
    padding-left: 17rem;
  }
  .end {
    margin-top: 30rem;
    padding-left: 20rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .main {
    width: 50rem;
    margin-right: 18rem;
  }
  .main-para {
    font-size: 2rem;
    width: max-content;
  }
  .head-text {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .main {
    padding-left: 3rem;
    padding-top: 25rem;
  }

  .whyme {
    position: relative;
    left: 40;
    width: 140%;
    padding-top: 40rem;
    /* width: max-content; */
    /* margin-left: 20rem; */
  }
  .work {
    margin-top: 40rem;
  }
  .end {
    margin-top: 30rem;
    padding-left: 20rem;
  }
}

@media (max-width: 350px) {
  .whyme {
    margin-top: 40rem;
    width: 140%;
  }
  .end {
    margin-top: 30rem;
    padding-left: 20rem;
  }
}
